<!DOCTYPE html>
<html lang="en">

  <head>
      <title>TinyApp</title>
  </head>

  <body style= "padding:25px;">

    <header>
      <% include ./partials/_header %>
    </header>

    <h1>Your TinyURLs</h1>

    <ul>
      <% for (var tinyURL in urls) {

        let date = (urls[tinyURL].dateCreated).substring(0, 13);

          let actionPath = `/urls/${tinyURL}/delete`; %>

            <form method="POST" action= <%= actionPath %>>

              <li list-style-type: none;>
                <dir>
                  <%= tinyURL %> -- Created: <%= date %> -- Visits: <%= urls[tinyURL].visits %> -- <%= urls[tinyURL].longURL %>
                  <a href="urls/<%= tinyURL %>"> Edit </a>
                  <input  style="display: inline; float: right;" type="submit" value="Delete">
                </dir>
              </li>

            </form>

      <% }; %>

    </ul>

    <a href="/urls/new">New TinyLink</a>

  </body>

</html>
