<!DOCTYPE html>
<html lang="en">

  <head>
      <title>TinyApp</title>
  </head>

  <body style= "padding:25px;">

    <header>
      <% include ./partials/_header %>
    </header>

    <h1> TinyURL: <%=TinyURL%> </h1>
    <p>Date Created: <%= urls[TinyURL].dateCreated%></p>
    <p>Total Vistis: <%= urls[TinyURL].visits%></p>
    <p>Total Unique Vistis: <%= Object.keys(urls[TinyURL].uniqueVisits).length%></p>

    <h3>Update URL below:</h3>

    <form method="POST" action= <%= `/urls/${TinyURL}?_method=PUT` %>>
      <input id="editURL" type="text" name="editURL" placeholder= <%=urls[TinyURL].longURL%> style="width: 300px">
      <input type="submit" value="Update URL">
    </form>

    <div style="margin-top: 20px; margin-bottom: 20px">
      <a href="/urls">Back to your URLs</a>
    </div>

    <h3>List of unique visits:</h3>

    <% for (uniqueVisit in urls[TinyURL].uniqueVisits) {%>

    <li list-style-type: none;>
        <%= uniqueVisit %> -- <%= urls[TinyURL].uniqueVisits[uniqueVisit]  %>
    </li>

    <% } %>

  </body>

</html>


